.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}
.footer,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.homeLink {
  display: flex;
  background: radial-gradient(rgba(8, 11, 211, 0.527), rgba(255, 156, 25, 0.9));
  border-radius: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 25px;
  color: black;
  padding: 2rem 3;
}

.homeLink:hover {
  background: radial-gradient(rgba(255, 156, 25, 0.9), rgba(8, 11, 211, 0.527));
}
